body {
  font-family:Calibri, Helvetica, sans-serif;
  font-size:14px;
  
}
  #iniciologos {
  border-top: 1px solid #A7A9AC;
  border-bottom: 1px solid #A7A9AC;
  

}  

#slider101 li img{ border-left: 1px solid #A7A9AC !important;}
#slider101 li img last{ border-left: 1px solid #A7A9AC !important;}
#slider101 { border-top: 1px solid #A7A9AC !important;}
#slider101 { border-bottom: 1px solid #A7A9AC !important;}
#prev101 {        left: -62px !important;       top: 16px !important;}#next107 { right: -49px !important;       top: 16px !important;}
#next101 { right: -49px !important;       top: 16px !important;}

  

.slide-title {
color:#333;
}
  
  
a:link {
  color: #333;
  text-decoration:underline;

}
a:visited {
  color: #333;
}
a:hover {
  color: #EC0623;
  text-decoration:underline;
  
}
a:active {
  color: #EC0623;
}

h1 {
   
  border-left:#EC0623 4px solid;
  font-size:20px;
  font-weight:normal;
  padding-left:10px;
  margin-bottom:20px;
  color:#414042;}

  
h2 { 
  font-size:16px;
  font-weight:bold;
  padding-bottom:5px;
  margin-bottom:10px;
  color:#414042;}

h4 {
  
  
  border-left:red 4px solid;
  font-size:15px;
  font-weight:normal;
  padding-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  color:#000;}

.beige {
background:#EEECE1;
  height:155px;
}

#logo{
  
  }
  
#logo img{
  padding:10px 0px 10px 0px;
  text-align:center;
  }

#social{
  padding:0px 0px 0px 0px;
  text-align:right;
}
#social img{
padding-top:85px;
}

#search{
padding-top:85px;
}

#search .inputbox{
width:150px;
border:1px solid #ccc;
  padding:3px
}
#search .button{
width:30px;
border:0px;
  cursor:hand;
  cursor:pointer;
  background:#666;
  color:#fff;
  padding:2px;
    margin-left:5px;
}
  




#menu{
  background:#EBEBEC;
  height:30px;
  }



  
#menu a:link {
  color: #333;
  text-decoration:none;
}
#menu a:visited {
  color: #333;
  text-decoration:none;
}
#menu a:hover {
  color: #fff;
  text-decoration:none;
  
}
#menu a:active {
  color: #fff;
  text-decoration:none;
}

#slide{
  width:640px;
  
  }

#featureright{
  background:#fff;
  
  }

#bread{
  background:#F1F2F2;
  height:16px;
  padding:4px;
  font-size:11px;
  border:1px solid #ccc;
  }

#content{
  
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  min-height:500px;
  }

#content ul{margin-left:20px;}

#right{
  border-left:1px solid #ccc;
  min-height:500px;
  padding-left:20px;
  padding-top:20px;
  }

#footerouter{
 background:#EEECE1;
  margin-top:-8px;
  color:#000;
  }

#footerleft{
    color:#000;
  font-weight:normal;
  font-size:11px;
    padding-bottom:20px;
  
  }

#footercenter{
      color:#000;
      font-weight:normal;
  font-size:11px;
  border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    padding-left:20px;
      padding-right:20px;
        padding-bottom:20px;
  }

#footerright{
      color:#000;
    font-weight:normal;
  font-size:11px;
    padding-bottom:20px;
  }


.greybox {
background:#F2F2F2;
border:1px dotted #ccc;
min-height:110px;
margin-bottom:20px;
padding:5px;
}

.greybox:hover {
background:#fff;
}

.greybox img {
border:4px solid #fff;
}

.greybox:hover img {
border:4px solid #F2F2F2;
}

.tisch1 {
  height:115px;
  background:#A7A9AC;
padding:5px;}

.tisch2 {
  height:115px;
  background:#939598;
}

.haupttisch {
padding:5px;
color:#fff;
}


.decke{padding:10px;}

.obentisch{height:75px;}

.untentisch{text-align:right;
font-weight:normal;}



a.untentischlink:link{
color:#fff;
text-decoration:none;
    font-weight:normal;
}
a.untentischlink:hover{
color:blue;
text-decoration:none;
}
a.untentischlink:active{
color:#fff;
text-decoration:none;
}
a.untentischlink:visited{
color:#fff;
text-decoration:none;
}

.slide-desc-bg {
background:#fff;
}







.footersquare {
margin-left:15px;
}

.footersquare a:link {
color:#fff;
} 
.footersquare a:visited {
color:#fff;
} 
.footersquare a:hover {
color:#ccc;
 text-decoration:none;
} 

#slider100 {width:640px;}

#k2ModuleBox108{margin-left:-20px;}
#k2ModuleBox109{margin-left:-20px;}

#right .inputbox{
border:1px solid #333;
padding:4px;
width:200px;

}

#right .button {
margin-left:7px;
margin-bottom:-5px;
  cursor:hand;
  cursor:pointer;

}

#right h3 {
   
  border-left:#EC0623 4px solid;
  font-size:16px;
  font-weight:normal;
  padding-left:10px;
  margin-bottom:20px;
   margin-top:20px;
  color:#414042;}

  .latestnewsenhanced_107 .newshead .calendar.noimage {      
          background: none; /* Old browsers */
         
          filter: none; /* IE6-9 */
          
          color: #3D3D3D;            
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
        }   

a.onecatlink {
  padding-left:25px;
  background:url(../images/fugue/leermasicon.gif) no-repeat top left;}







/* Relative positioning*/
    #wrapper {
      position: relative;
      margin: 0px auto 0px auto;
      border: none;
      
    }
    
    /* Hide the original tooltips contents */
    .pin {
      display: none;
    }
    
    /* Begin styling the tooltips and pins */
    .tooltip-up, .tooltip-down {
      position: absolute;
      background: url(http://www.scoomadesign.com/freiheit/templates/naumann/images/arrow-up-down.png);
      width: 11px;
      height: 15px;
    }
    
    .tooltip-down {
      background-position: 0 -52px;
    }
    
    .tooltip {
      font-size:10px;
      font-weight:normal;
      font-family:Tahoma, Geneva, sans-serif;
      display: none;
      width: 100px;
      cursor: help;
      position: absolute;
      top: 10px;
      left: 50%;
      z-index: 999;
      margin-left: -58px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding:8px;
      color: #222;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0 3px 0 rgba(0,0,0,.7);
      -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.7);
      box-shadow: 0 3px 0 rgba(0,0,0,.7);
      background: #fff1d3;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff1d3), to(#ffdb90));
      background: -webkit-linear-gradient(top, #fff1d3, #ffdb90);
      background: -moz-linear-gradient(top, #fff1d3, #ffdb90);
      background: -ms-linear-gradient(top, #fff1d3, #ffdb90);
      background: -o-linear-gradient(top, #fff1d3, #ffdb90);
      background: linear-gradient(top, #fff1d3, #ffdb90);      
    }
    
    .tooltip::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -10px;
      border-bottom: 10px solid #fff1d3;
      border-left: 10px solid transparent;
      border-right :10px solid transparent;
    }
    
    .tooltip-down .tooltip {
      bottom: 12px;
      top: auto;
    }
    
    .tooltip-down .tooltip::after {
      bottom: -10px;
      top: auto;
      border-bottom: 0;
      border-top: 10px solid #ffdb90;
    }
    
    .tooltip h2 {
      font: 11px 'Tahoma', Arial;
      margin: 0 0 5px;
      font-weight:normal;  
    }
    
    .tooltip ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight:normal;  
    }    


.toptable {border:1px solid #ccc;}
.culmtable  {border:1px solid #ccc; padding:4px;}


.pagenav {margin:3px; padding:3px; background:#333; color:#fff; }
.k2Pagination a:link {color:#fff;}
.k2Pagination a:visited {color:#fff;}
.k2Pagination a:hover {color:#fff;}
.k2Pagination a:active {color:#fff;}
.pagination-prev {}
.pagination-start {}