<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Komentarze do Juices PC</title>
	<atom:link href="http://themo.net/juicepc/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://themo.net/juicepc</link>
	<description>Themo Creative Responsive Multi-purpose Theme</description>
	<lastBuildDate>Fri, 15 Apr 2016 14:44:22 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.5</generator>
	<item>
		<title>Skomentuj Hello world!, którego autorem jest Anonim</title>
		<link>http://themo.net/juicepc/2016/04/15/hello-world/#comment-1</link>
		<dc:creator><![CDATA[Anonim]]></dc:creator>
		<pubDate>Fri, 15 Apr 2016 14:44:22 +0000</pubDate>
		<guid isPermaLink="false">http://themo.net/juicepc/?p=1#comment-1</guid>
		<description><![CDATA[]]></description>
		<content:encoded><![CDATA[]]></content:encoded>
	</item>
</channel>
</rss>
