
@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1434 {
     width: 100%;
     font-family: 'Raleway', Arial, sans-serif;
     border: none;
     border-radius: 5px;
     overflow: hidden;
     color: #ffffff;
     cursor: pointer;
     padding: 0px 25px 0px 70px;
     text-align: center;
     display: inline-block;
     font-weight: 600;
     outline: none;
     position: relative;
     font-size: 18px;
     line-height: 50px;
     background-color: #8a1a32;
     letter-spacing: 1px;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
.snip1434 i {
     font-size: 4em;
     width: 55px;
     line-height: 50px;
     position: absolute;
     left: -5px;
     top: 5px;
     -webkit-transform: rotate(-25deg) scale(1);
     transform: rotate(-25deg) scale(1);
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
.snip1434:hover,
.snip1434.hover {
     color: #ffffff;
     background-color: #ac203f;
}
.snip1434:hover i,
.snip1434.hover i {
     -webkit-transform: rotate(-20deg) scale(1.3);
     transform: rotate(-20deg) scale(1.3);
}

::-webkit-scrollbar {
     width: 5px;
}

::-webkit-scrollbar:hover {
     width: 10px;
}


::-webkit-scrollbar-track {
     background: #000;
}

::-webkit-scrollbar-thumb {
     background: #D33;
}
::-webkit-scrollbar-thumb:hover {
     background: #E44;

}




body{
     background: #EEE;
}

.main {
     width: 80%;
     margin: auto;
     min-width: 600px;
}

.content{
     display: inline-block;
     width: 69%;

}

h2{
     font-size: 28pt;
     color: #555;
     font-weight: 100;
     background-color: #FFF;
     padding: 5px 15px;
}
.sticky.stuck{
     border-bottom: thin solid rgba(0,0,0,.2);
     box-shadow:0 10px 15px -10px rgba(0,0,0,.1);
}

p{
     font-size: 12pt;
     margin: 10px 0;
     text-align: justify;
}

article {
     margin: 20px 20PX 20px 25px;
     background: #FFF;
     font-family: "Open Sans";
     box-shadow:1px 2px 3px rgba(0,0,0,.2);
     position: relative;
}

.art-text{
     padding: 10px 20px;
     overflow: auto;
     text-align: justify;
}

.header-img {
     width: 100%;
     display: block;
}

.art-text img{
     max-width: 100%;
     float: left;
     margin: 10px 10px 0 0;
}

.embedded-video{
     margin: 0;
     padding: 0;
}

hr {
     margin: 10px 0;
     border: none;
     border-top: thin solid rgba(0,0,0,.1);
}

article:before{
     content: "\f05a";
     color: rgba(255,255,255,.9);
     display: block;
     position: absolute;
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     font-size: 28px;
     text-align: center;
     padding: 5px 10px;
     top: 0px;
     right: 0px;
     border-bottom-left-radius: 20px;
     z-index: 100;
}


article.info:before{
     content: "\f05a";
     background: #29F;
}

article.video:before{
     content: "\f03d";
     background: #82F;
}

article.announcement:before{
     content: "\f0a1";
     background-color: #E32;
}

aside {
     display: inline-block;
     width: 30%;
     vertical-align: top;
}

.calendar{
     margin: 20px auto;
     min-width: 150px;
     max-width: 240px;
}

.ui-datepicker-header {
     color: #333;
     font-weight: bold;
     line-height: 30px;
}

.ui-datepicker {
     text-align: center;
     font-family: "Helvetica";
     color: #666;
     position: relative;
}

.date-block{
     text-align: center;
     background: #D32;
     font-family: "Helvetica";
     color: #F4F4F4;
     font-size: 18pt;
     padding: 10px;

}

.date-day{
     font-size: 24pt;
}
.date-date{
     font-size: 48pt;
}

.ui-datepicker-prev, .ui-datepicker-next {
     display: inline-block;
     font-family: FontAwesome;
     width: 52px;
     height: 30px;
     text-align: center;
     cursor: pointer;
     background-color:none;
     background-repeat: no-repeat;
     overflow: hidden;
     position: absolute;
     color: #D54;
}
.ui-datepicker-prev {
     left: 0;
     border-radius:0 0 30px 0;
}
.ui-datepicker-next {
     right: 0;
     border-radius:0 0 0 30px;
}

.ui-datepicker-prev:before {
     content: "\f053";
     display: block;
}

.ui-datepicker-next:before {
     content: "\f054";
     display: block;

}

.ui-datepicker-year{
     font-weight: normal;
     color: #999;
}


.ui-datepicker-month{
     font-weight: bold;
     background: #EEE;
     font-size: 12pt;
     border: none;
}

.ui-datepicker-calendar {
     border-collapse:collapse;
     width: 100%;
     margin-top: 10px;
     text-align: center;
     font-family: "Helvetica";
}

.ui-datepicker td a, .ui-datepicker td span{
     text-decoration: none;
     display: block;
     width: 100%;
     font-size: 12px;
     padding: 10px 0;
     color: #333;
     border-radius: 50%;
     transition:all .1s ease;
}

.ui-datepicker td span{
     color: #BBB;
}

.ui-datepicker .ui-state-active {
     background: #BBB;
}
.ui-datepicker .ui-state-highlight {
     background: #FFF;
     color: #D32;
}


.ui-datepicker a:hover {
     background: #d32;
     color: #FAFAFA;
}

.social-buttons a{
     display: inline-block;
     color: #555;
     font-size: 24pt;
     width: 15%;
     text-align: center;

}

.social-buttons a:hover{
     color: #D43 ;
     color: attr(data-color);
}



.twitter-timeline {
     width: 100%;
     min-width: 300px;
     height: 500px;
     border-radius:10px;
}

/*//////////// FOOTER ///////////*/


footer {
     background: #000;
     margin-top: 50px;
     padding-bottom: 10px;
     color: #222;
     text-align: center;
     font-family: "Open Sans";
}
footer .bottom{
     margin: 20px;
}

footer .footer-cell {
     display: inline-block;
     width: 25%;
     color: #555;
     text-align: left;
     vertical-align: top;
     padding: 10px;
     border-left: thin solid #111;
}

.footer-cell ul {
     list-style: none;
     padding-left: 15px;
     text-indent: -5px;
     font-size: 10pt;
}

.footer-social{
     background: #111;
     padding: 20px;
}


.footer-social ul{
     -ms-text-overflow: ellipsis;
     text-overflow: ellipsis;
     list-style: none;
}

.socialList li{
     display: inline-block;
     font-size: 3em;
     color: #555;
     width: 10%;
     min-width: 50px;
}

.socialList li a:hover{
     color: #D55;
     text-shadow:0 0 5px #500;

}

.footer-cell h3 {
     display: block;
     padding-bottom: 3px;
}


.footer-cell a:hover{
     color: #999;
}


/*//////////// MEDIA ////////////*/

@media screen and (max-width:600px){
     .main, aside, .container, .content, article{
          margin-left: 0;
          margin-right:0;
          padding: 0;
          display: block;
          width: auto;
          min-width: 0;
     }

     .calendar {
          width: 100%;
          max-width: none;
     }


     .ui-datepicker td a, .ui-datepicker td span{
          border-radius:0;
     }


     .twitter-feed{
          margin: 20px;
     }
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
