/*
  Theme Name: Castle
  Theme URL: http://demo.themeregion.com/castle
  Author: ThemeRegion
  Author URI: http://www.themeregion.com
  Description: Castle Responsive HTML Template
  Version: 1.0
*/

/*=======================================================================
[Table of contents]
=========================================================================

1. Typography
2. Home / Navigation + Main Carousel
3. who-we-are
4. cause-list
5. promo-section
6. Recent-post
7. our members
8. work-gallery
9. our-partner
10. word-for-creato
11. Contact Us
12. Footer
13. Carousel vertical
14. Carousel-Fade
15. Preloader
16. Color Chooser

==========================================================================*/

/* =====================
Colors: 
primary-btn: #ED2123;
primary-text: #E14853

======================= */

/*========================
=======Typography=========
==========================*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #454545;
	background-color: #fff;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
	outline:none;
	outline-offset: 0;
	text-decoration:none;  
	background: transparent;
}

.navbar-nav li a .fa {
	padding-right: 6px;
	color: #E14853;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus, 
a:hover {
	text-decoration: none;
	outline: none;
	color:#E14853;
}

h1 {
	font-size:36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	text-transform:capitalize;
}

.title-section {
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 36px;
}

.title-section .fa {
	padding-right: 6px;
	color: #E14853;
	font-size: 1.3em;
}

.subtitle-section {
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 600;
}

.subtitle-section .fa {
	padding-right: 6px;
	color: #E14853;
	font-size: 1.2em;
}

.padding{	
	padding:80px 0;
}

.padding-middle {
	padding: 40px 0;
}

.padding-small {
	padding: 20px 0;
}

.padding-xsmall {
	padding: 10px 0;
}

.section-title {
	margin-bottom: 70px;
	padding-bottom: 0;
	font-weight:400;
	font-size:16px;
}

.section-title h1 {
	margin-top:10px;
	margin-bottom:15px;
	font-weight:700;
}

.section-title i {
	margin-right:20px;
}

/*
 * Generate Margin Class
 * margin, margin-top, margin-bottom, margin-left, margin-right
 */

.m-0 {
  margin: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

/*
 * Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right
 */

.pd-0 {
  padding: 0px !important;
}

.pd-t-0 {
  padding-top: 0px !important;
}

.pd-b-0 {
  padding-bottom: 0px !important;
}

.pd-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-t-5 {
  padding-top: 5px !important;
}

.pd-b-5 {
  padding-bottom: 5px !important;
}

.pd-l-5 {
  padding-left: 5px !important;
}

.pd-r-5 {
  padding-right: 5px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-t-10 {
  padding-top: 10px !important;
}

.pd-b-10 {
  padding-bottom: 10px !important;
}

.pd-l-10 {
  padding-left: 10px !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-t-15 {
  padding-top: 15px !important;
}

.pd-b-15 {
  padding-bottom: 15px !important;
}

.pd-l-15 {
  padding-left: 15px !important;
}

.pd-r-15 {
  padding-right: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pd-t-20 {
  padding-top: 20px !important;
}

.pd-b-20 {
  padding-bottom: 20px !important;
}

.pd-l-20 {
  padding-left: 20px !important;
}

.pd-r-20 {
  padding-right: 20px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pd-t-25 {
  padding-top: 25px !important;
}

.pd-b-25 {
  padding-bottom: 25px !important;
}

.pd-l-25 {
  padding-left: 25px !important;
}

.pd-r-25 {
  padding-right: 25px !important;
}

.pd-30 {
  padding: 30px !important;
}

.pd-t-30 {
  padding-top: 30px !important;
}

.pd-b-30 {
  padding-bottom: 30px !important;
}

.pd-l-30 {
  padding-left: 30px !important;
}

.pd-r-30 {
  padding-right: 30px !important;
}

.btn-primary {	
	border:0;
	color:#fff;
	background-color:#ED2123;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 700;
	padding: 12px 32px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
	letter-spacing:0;
	position:relative;
	box-shadow:none;
	z-index:1;
}

.btn-primary:before, 
.btn-primary:after {
	position:absolute;
	content:"";
	height:100%;
	width:0;
	border-radius:4px;
	z-index:-1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.btn-primary:before {	
	left:0;
	top:0;
	border-top:2px solid #ED2123;
}

.btn-primary:after {	
	right:0;
	bottom:0;
	border-bottom:2px solid #ED2123;	
}

.btn-primary:hover:before {
	left:0;
	width:100%;
	background-color:rgba(233, 19, 40, 0.7);
}
.btn-primary:hover:after {
	width:100%;
	right:0;
	background-color:rgba(233, 19, 40, 0.7);
}

.btn-primary:hover, 
.btn-primary:focus {
	background-color:transparent;
	box-shadow: 0px 0px 0px 1px #ED2123;
	outline:none;
	border-color:#ED2123;
}

.parallax-section { 	
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height:437px;
	color:#fff;
	position:relative;
}

.overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.form-control {
  height: 50px;
  padding:6px 20px;
  background-color:transparent;
}

.form-group {
  margin-bottom: 30px;
}

.navbar-toggle {
	border:1px solid #fff;
	margin-top:12px;
}
.navbar-toggle .icon-bar {
	background-color:#fff;
}
/*==============================
=========navigation-section=========
================================*/
#navigation, .navbar-fixed-top {
	background-color:#BCBEC0;
}

.navbar-fixed-top .navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
}

#navigation .navbar {
	margin-bottom:0;
}

.navbar-nav li a {
	text-transform:uppercase;
	color:#333;
	line-height:28px;
}

.navbar-nav li a:hover {
	font-weight: 600;
}

.active a {
	font-weight:700;
}

.navbar-brand {
	height:60px;
	padding:10px 15px;
}

/*==============================
=========slider-section=========
================================*/

#main-slider-wrapper{
	position:relative;
	overflow:hidden;
}

#slider-section, #home-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#BAC0C2;
        background-position: center;
	position:relative;
	color: #000;
	height: 430px;
}

.main-slider .slider-content {
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-200px;
	font-size:24px;
	font-weight:500;
	z-index:10;	
}

.main-slider .slider-content p {
	max-width:500px;
}

.main-slider .slider-content h1 {
	font-size:57px;
	font-weight:300;
	text-transform:initial;
	margin-bottom:0;
}

.main-slider .slider-content h2 {
	margin-top:0;
	font-size:92px;
	font-weight:300;
	text-transform:uppercase;
}

.main-slider .slider-content h2 span{
	font-weight:700;
}

.main-slider .slider-content .version {
	font-size:16px;
	font-weight:400;
	margin-top:50px;
}

.social li a{
	background-color: #2a2a2a;
	padding: 15px;
	font-size: 30px;
	display:block;
	color:#fff;
}

.social li a:hover .fa-facebook {
	color:#566C9E;
}

.social li a:hover .fa-twitter {
	color:#0EB1F2;
}

.social li a:hover .fa-google-plus {
	color:#D54831;
}

.social li a:hover .fa-linkedin {
	color:#1F84D2;
}

.social li a:hover .fa-pinterest {
	color:#CD565C;
}

.social-icons  {
	font-size:16px;
	font-weight:600;	
	margin-bottom:125px;
}

.social-icons ul {
	margin-top:20px;
}

.social-icons ul li i{
	background-color:#fff;
	color:#E14853;
	height:25px;
	width:25px;
	font-size:18px;
	line-height:25px;
	display:block;
	border-radius:3px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons ul li i:hover {
	color:#fff;
}

.social-icons ul li i:hover.fa-facebook {
	background-color:#566C9E;
}

.social-icons ul li i:hover.fa-twitter {
	background-color:#0EB1F2;
}

.social-icons ul li i:hover.fa-google-plus {
	background-color:#D54831;
}

.social-icons ul li i:hover.fa-linkedin {
	background-color:#1F84D2;
}

.social-icons ul li i:hover.fa-pinterest {
	background-color:#CD565C;
}


.main-slider .btn-primary{
	margin-top:15px;
}

#main-slider-wrapper .vegas-timer {
	display:none;
}

#home-section {
	background-image:url(../images/slider/3.jpg);
}

#home-section .main-slider .slider-content {
	left: 0;
}

#home-section .slider-content .logo-header {
    max-height: 400px;
}


#bg-video-section {
	position:relative;
	color:#000;
	height:730px;
}

 #bg-video-section .overlay-bg {
	background-color:rgba(90, 106, 114, 0.50);
	z-index:2;
 }


/*=========Overview==========*/
#overview {
	overflow:hidden;
}

#overview .section-title  {
	margin-bottom:35px;
}

#overview .section-title h1 {
	color:#E14853;
}

.overview {
	padding-top:60px;
}

.overview, 
.overview .overview-image {
	position:relative;
}

.overview-pointer {
	position:absolute;
	width:100%;
	height:100%;
}

.overview-pointer ul li {
	position:absolute;
	min-width:330px;
}

.overview-pointer ul li.one {
	left:22%;
	top:10%;
}

.overview-pointer ul li.two {
	left:51%;
	top:1%;
}

.overview-pointer ul li.three {
	left:56%;
	top:25%;
}

.overview-pointer ul li.four {
	left:21%;
	top:33%;
}

.overview-pointer ul li.five {
	left:6%;
	top:45%;
}

.overview-pointer ul li.six {
	left:5%;
	top:62%;
}

.overview-pointer ul li.seven {
	left:38%;
	top:50%;
}

.overview-pointer ul li.eight {
	left:77%;
	top:38%;
}

.overview-pointer ul li.nine {
	left:61%;
	top:54%;
}

.overview-pointer .circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 10px solid #E14853;
	background-color: #fff;
	padding: 5px;
	position: absolute;
	left: 50%;
	bottom: -60px;
	margin-left: -10px;
	z-index:100;
}

.overview-pointer .circle:before {
	position:absolute;
	content:"";
	top:-23px;
	left:-23px;
	height:56px;
	width:56px;
	border-radius:50%;
	border:1px solid #E14853;
}

.tooltip-inner{
	padding:20px 20px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#BCBEC0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}

.tooltip.top .tooltip-arrow{
    bottom:-5px;
    left:50%;
    margin-left:-15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
	border-top: 10px solid #BCBEC0;
}


/*================Description==============*/


#description {
	background-color:#BCBEC0;
	background-image:url(../images/others/features-bg.jpg);
	color:#fff;
}

#description .section-title {
	margin-bottom:45px;
}

#description .section-title h1{
	margin-bottom:35px;
}

.description-section img {
	display:inline-block;
}

.descriptions {
	position:relative;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.description {
	padding-left:50px;
	font-size:15px;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:10px;
	max-width:400px;
	position:relative;
}

.description i {
	position:absolute;
	left:0;
	top:25px;
	font-size:24px;
}

.description h2 {
	margin-top:5px;
}
	
.descriptions:hover{
	background-color:rgba(237, 33, 35, 0.50);
}


/*================video-section==============*/
#video-section {
	padding-bottom:20px;
}

#video-section .section-title {
	margin-bottom:55px;
}

#video-section .section-title h1{
	color:#E14853;
	margin-bottom:30px;
}

#video-section .video {
	margin-right:25px;
	position:relative;
}

#video-section .video .overlay-bg {
	background-color:rgba(238, 19, 45, 0.80);
	z-index:1;
}


.video-section .video {
	margin-right:25px;
	position:relative;
}

.video-section .video .overlay-bg {
	background-color:rgba(238, 19, 45, 0.80);
	z-index:1;
}

.video img{
	position:relative;
}

.video .video-link{
	position: absolute;
	color: #fff;
	font-size: 100px;
	left: 50%;
	top: 50%;
	z-index: 1;
	text-align: center;
	margin-top: -50px;
	margin-left: -50px;
	line-height:100px;
}

.video .video-link:hover {
	opacity:0.7;
}

#video-section .content h3 {
	font-weight:400;
	text-transform:initial;
	margin-bottom:35px;
	line-height:28px;
}

#video-section .content>p {
	margin-bottom:25px;
}

#video-section .btn-primary {	
	margin-top:10px;
}


/*================Product-details==============*/

.product-details {
	position:relative;
	overflow:hidden;
}

.product-details-grid .product-info {
	padding-top:80px;
	padding-bottom:90px;
}

.product-details-grid .part-one .product-info, 
.product-details-grid .part-three .product-info {
	padding-right:60px;
}

.product-details-grid .part-two .product-info {
	padding-left:60px;
}

.product-details-grid .part-one {
	background-color:#BCBEC0;
	color:#fff;
}

.product-details-grid .part-three {
	background-color:#E14853;
	color:#fff;
}

.product-details-grid .part-one .product-image, 
.product-details-grid .part-three .product-image,
.product-details-grid .part-contact .product-image {
	right:0;
}

.product-details-grid .product-image {
	position:absolute;
	top:0;
	width:50%;
	height:100%;
}

.product-details-grid .part-two .product-image {
	left:0;
}

.product-details h1 {
	font-weight:700;
}

.product-details h2 {
	font-size:20px;
	font-weight:300;
	line-height:1.3;
	text-transform:initial;
	margin-bottom:25px;
}

.product-details-grid .part-contact {
	background-color: #fff;
	color: #000;
}

.product-details-grid .contact-info {
	padding-right: 32px;
	padding-top:26px;
	padding-bottom: 32px;
}

.contact-info address {
	font-size: 18px;
}

/*================Specification==============*/

#specification .section-title h1 {
	color:#E14853;
}

.specification {
	margin-bottom:45px;
}

.specification h4 {
	font-weight:600;
	margin-bottom:15px;
}

.specification ul li {
	margin-bottom:7px;
}



/*================Pricing-section==============*/

#pricing-section {
	background-color:#BCBEC0;
	background-image:url(../images/others/pricing-bg.jpg);
	color:#fff;
}

#pricing-section .section-title h1{
	margin-bottom:30px;
}

#pricing-section .plans {
	margin-bottom:15px;
}

.plans .plan{
	background-color:#f7f7f7;
	color:#616060;
	padding:30px 25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.plans .plan h1, 
.plans .plan h2{
	font-weight:700;
	color:#000;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.plans .plan h1 {
	margin-top:10px;
	margin-bottom:30px;
}

.plans .plan h2 {
	font-size:20px;
}

.plans .plan .btn-primary {	
	font-size:16px;
	padding:8px 20px;
	margin-top:20px;
}

.plans .plan.featured {
	background-color:#E14853;
	color:#fff;
}

.plans .plan.featured h1, 
.plans .plan.featured h2 {
	color:#fff;
}

.plans .plan.featured .btn-primary {
	background-color: #BB0F26;
}


/*================call-to-action==============*/
#call-to-action {
	color:#BCBEC0;
}
#call-to-action i {
	font-size:36px;
	height:83px;
	width:83px;
	line-height:83px;
	border:2px solid #BCBEC0;
	border-radius:50%;	
}

#call-to-action h2 {
	font-weight:400;
}

#call-to-action .col-sm-3:hover i{
	color:#E14853;
	border:2px solid #E14853;
}

/********   About-us  *********/

#about-us {
    background-color: #cfcfcf;
    background-image: url(../images/others/brand-bg.jpg);
    color: #333;
}

#about-us .overlay-bg {
    background-color: rgba(255, 255, 255, 0);
}

/**************   Ligas interes   **************/

#ligas-interes {
	background-color: #D1D2D4;
}

#ligas-interes ul li {
    margin-bottom: 7px;
    padding-left: 20px;
    position: relative;
}

#ligas-interes ul li::before {
	position: absolute;
	content: "";
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #E14853;
	left: 0;
	top: 7px;
}


/*================Contact us==============*/
#contact-us {
	background-color:#7b888e;
	color:#fff;
}

#contact-us .section-title h1{
	margin-bottom:25px;
}

#contact-us .contact-form {
	padding-top:85px;
	padding-bottom:70px;
}

#contact-us .product-image > img {
    min-height: 380px;
}

#contact-form #message {
	height:220px;
	resize:none;
	padding:18px;
}

#contact-form .btn-primary {
	display:inline-block;
	margin-top:35px;
	font-size:20px;
	text-transform:uppercase;
	padding:12px 35px;
}

#footer-bottom {
	background-color: #D1D2D4;
	color: #fff;
	padding: 20px 0 30px;
	font-weight: 300;
}

#footer-bottom a {
	color: #A09EA0;
	font-weight:600;
}

#footer-bottom a:hover {
	color: #333;
}

.nav-footer li {
	float: left;
}

.nav-footer li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/********* Eventos **************/

#eventos-section {
    background-color: #BCBEC0;
    background-image: url(../images/others/pricing-bg.jpg);
    color: #000000;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#eventos-section .carousel {
    margin-bottom: 0;
    padding: 0 40px;
    max-width: 600px;
    max-height: 250px; 
}

#eventos-section .carousel-inner{
	width: 100%;
}

#eventos-section .carousel-inner img {
    max-width: 100%;
    max-height: 450px;
}

#eventos-section .carousel-control {
	height: 40px;
	width: 40px;
	background: none !important;
	color: #E14853;
	text-shadow: none;
	font-size: 36px;
	top: 40%;
}

#eventos-section .carousel-control.left {
	left: -12px;
}
#eventos-section .carousel-control.right {
	right: -12px;
}

#eventos-section .carousel-caption {
	left: 0;
	bottom: 0px;
	text-align: left;
	font-weight: 200;
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 60px;
	max-height: 60px;
	overflow: hidden;
}

.big-card {
	background-color: #ed2123;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    overflow: hidden;
}

.big-card .book-cover {
	width: 300px;
	height: 345px;
	margin: auto 20px;
}

.big-card .book-cover img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

#eventos-section .big-card {
	right: 0;
}

/*********  Brands carousel  **********/

#brands .carousel {
    margin-bottom: 0;
    padding: 0 40px;
}
/* The controlsy */
#brands .carousel-control {
	height: 40px;
	width: 40px;
	background: none !important;
	color: #E14853;
	text-shadow: none;
	font-size: 32px;
    margin-top: 50px;
}
#brands .carousel-control.left {
	left: -12px;
}
#brands .carousel-control.right {
	right: -12px;
}
/* The indicators */
#brands .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
#brands .carousel-indicators li {
	background: #cecece;
}
#brands .carousel-indicators .active {
	background: #428bca;
}

#brands .thumbnail {
    border: none;
    max-height: 100px;
    overflow: hidden;
}

#brands .thumbnail img {
    max-height: 100px;
}

/*************  carousel slide  ******************/
.alt-carousel .carousel {
    margin-bottom: 0;
    padding: 0 40px;
}
/* The controlsy */
.alt-carousel .carousel-control {
	height: 40px;
	width: 40px;
	background: none !important;
	color: #E14853;
	text-shadow: none;
	font-size: 32px;
    margin-top: 50px;
}
.alt-carousel .carousel-control.left {
	left: -12px;
}
.alt-carousel .carousel-control.right {
	right: -12px;
}
/* The indicators */
.alt-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.alt-carousel .carousel-indicators li {
	background: #cecece;
}
.alt-carousel .carousel-indicators .active {
	background: #428bca;
}

.alt-carousel .thumbnail {
    border: none;
    max-height: 210px;
    overflow: hidden;
}

/************   social widgets   **************/

#social-widgets {
	border-bottom: 1px solid #ddd;
}

/************  entries ************/

.entry {
	padding: 16px 12px;
}

.entry-padding {
	padding: 10px 16px;
}

.entry-title {
	font-size: 18px;
        font-weight: 400;
	color: #333;
	margin-bottom: 10px;
}

.entry-title .fa {
	font-size: 1.2em;
	padding-right: 6px;
	color: #E14853;
}

.entry-excerpt {
    text-align: justify;
}

.entry-link {
	text-align: right;
}

.entry-link a {
	color: #E14853;
}

.entry-link a .fa {
	padding-right: 6px;
}

#primary-article {
	background-color: #f2f2f3;
}

.book-box {
    max-width: 300px;
    margin: 15px auto;
}

.book-box .book-portada {
    margin-bottom: 12px;
}

.book-box .book-info-link a {
    font-weight: 400;
    color: #fff;
}


.testimonial blockquote {
    font-size: 1.7em;
    line-height: 1.8em;
    font-style: italic;
    margin-bottom: 1.2em;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
    color: #767676;
    font-weight: 400;
    padding: 0;
    margin: 0 0 20px;
    border: none;
}

.testimonial h5 {
    font-weight: 600;
    font-size: 1.2em;
}

#testimonials-section {
    background-image: url(../images/ff02.jpg);
    background-color: #F4F4F4;
    min-height: 380px;
    color: #333;
}


/*********  Post   **********/
.blog h2 {
    color: #555;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
    font-weight: 400;
}

.blog .blog-img {
    margin: 20px 0;
}

.posted-info {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.posted-info li {
    padding: 0;
    font-size: 12px;
    padding-left: 5px;
    color: #555;
    font-style: italic;
}

.posted-info li::before {
    font-size: 11px;
    line-height: 11px;
    margin-right: 9px;
    content: '/';
}

.posted-info li:first-child::before {
    content: " ";
    margin-right: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.news-v3 h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 30px;
    text-transform: inherit;
}

.news-v3 p {
    color: #555;
    margin-bottom: 20px;
}

/*** breadcrumbs ***/
.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background-color: #FAFAFA;
}

.breadcrumb {
    top: 10px;
    z-index: 1;
    padding-right: 0;
    background: none;
    position: relative;
}

.blog-latest-posts li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.blog-latest-posts li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.headline-v2 {
    display: block;
    background: #F4F4F4;
    padding: 5px 10px;
    margin: 0 0 20px 0;
}

.headline-v2 h2 {
    margin: 3px 0;
    font-size: 20px;
    font-weight: 400;    
}

.headline-v2 h2 .fa {
    color: #E14853;
}

.blog-latest-posts h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 3px;
    line-height: 20px;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}


/********** GAleria ************/

.portfolio-section {
    padding-bottom:40px;
}


/* category filter */

.filter-section {
	padding-top:40px;
}


.filter-container {
    text-align:center;
    padding:20px
}


ul.filter > li > a {
    color:#1abc9c;
    font-size:20px;
    line-height:40px
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#16a085;
    outline:none
}

ul.filter > li.active a {
    color:#111
}

ul.filter > li span {
    color:#ddd;
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin:0
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color: #e14853;
    background-color: rgba(225,72,83,0.4);
}


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:1;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.8;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background .inner {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:11px;
}

.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    text-decoration: none;
    padding: 0 2px;
    display: inline-block;
/*    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0*/
}

.portfolio-section figure .inner-overlay-content a .fa {
    color: #444;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}

.portfolio-section figure .inner-overlay-content a:hover .fa {
    color: #fff;
    background: #e14853;
}

/* skew image on hover */ 

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.5) rotate(2deg);
    -webkit-transform:scale(1.5) rotate(2deg);
    -o-transform:scale(1.5) rotate(2deg);
    -ms-transform:scale(1.5) rotate(2deg);
    transform:scale(1.5) rotate(2deg);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}

.main-title .fa {
    color: #e14853;
    font-size: 1.2em;
}

#main-menu li {
    font-size: 15px;
}

#main-menu .nav > li > a {
    padding: 10px 8px;
}


/**** Biblioteca  ****/
.biblioteca-cat-item {
    height: 186px;
    background-color: #FAFAFA;
    border-radius: 12px;
    border: 1px solid #D1D2D4;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.biblioteca-cat-item .biblioteca-cat-img {
    padding: 12px;
    margin-bottom: 10px;
}

.biblioteca-cat-item .biblioteca-cat-item-titulo {
    font-size: 18px;
    font-weight: 400;
}


.portfolio-item {
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid #D1D2D4;
}

.portfolio-item .portfolio-img {
    height: 200px;
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #D1D2D4;
}

.portfolio-item .info {
    padding: 5px 10px;
}

.portfolio-item .info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}