/*
* Theme Name: bizwrap
* Live example at: http://bootstraplovers.com/templates/bizwrap-v1.8/index.html
* Version: v1.8
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,300italic);
/* Basic Styles
================================================== */
body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  height: 100%;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a:hover, a:focus {
  text-decoration: none;
}
a.hover-color, .blog-post-title a:hover, .news-post-cat a:hover {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a.hover-color:hover, .blog-post-title a:hover, .news-post-cat a:hover {
  color: #0FAF97 !important;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.padd-section {
  padding: 90px 0;
}

.onepage-home {
  padding-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

p.lead {
  font-weight: 400;
}

i {
  display: inline-block;
}

/* Enable custom submit button styling in Safari mobile */
input[type='submit'] {
  -webkit-appearance: none;
}

label {
  font-weight: 400;
  color: #000;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #0FAF97;
}

::selection {
  color: #fff;
  text-shadow: none;
  background-color: #0FAF97;
}

p, blockquote {
  line-height: 23px;
}

blockquote {
  font-style: italic;
}

iframe, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.responsive-video {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 50.25%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*==================== ========*/
/*========= Forms =========*/
/*============================*/
.form-box {
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px #999;
  -moz-box-shadow: 0px 1px 2px #999;
  -ms-box-shadow: 0px 1px 2px #999;
  box-shadow: 0px 1px 2px #999;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  display: inline-block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  -moz-border-radius: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  -ms-border-radius: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  font-size: 12px;
  color: #7a7a7a;
  height: 40px;
  background: #FFF;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border: 1px solid #b3b3b3;
  background: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

/***icheck css**/
/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-gray,
.iradio_square-gray {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../img/grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-gray {
  background-position: 0 0;
}

.icheckbox_square-gray.hover {
  background-position: -24px 0;
}

.icheckbox_square-gray.checked {
  background-position: -48px 0;
}

.icheckbox_square-gray.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-gray.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-gray {
  background-position: -120px 0;
}

.iradio_square-gray.hover {
  background-position: -144px 0;
}

.iradio_square-gray.checked {
  background-position: -168px 0;
}

.iradio_square-gray.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-gray.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-gray,
  .iradio_square-gray {
    background-image: url(../img/grey@2x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}
/*margin spaces*/
.space-10 {
  width: 100%;
  height: 10px;
  clear: both;
}

.space-20 {
  width: 100%;
  height: 20px;
  clear: both;
}

.space-30 {
  width: 100%;
  height: 30px;
  clear: both;
}

.space-40 {
  width: 100%;
  height: 40px;
  clear: both;
}

.space-50 {
  width: 100%;
  height: 50px;
  clear: both;
}

.space-70 {
  width: 100%;
  height: 50px;
  clear: both;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

/*--------padding------------*/
.padding-40 {
  padding: 40px 0;
}

.no-padding {
  padding: 0px;
}

/*******************bootstrap overrides **************************/
.navbar-default {
  background-color: #fff;
  border-color: #eee;
  -webkit-box-shadow: 0 5px 6px -6px #ccc;
  -moz-box-shadow: 0 5px 6px -6px #ccc;
  -ms-box-shadow: 0 5px 6px -6px #ccc;
  box-shadow: 0 5px 6px -6px #ccc;
  width: 100%;
  padding: 5px 0;
  position: relative;
}

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  color: #555 !important;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0FAF97;
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #0FAF97;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0FAF97;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar-default .navbar-nav > li.social-nav i {
  font-size: 20px;
}

.one-page-navbar .navbar-nav > li > a {
  font-size: 12px;
}

/*sticky header*/
.sticky-nav {
  width: 100%;
  z-index: 999;
}

/*********************header option 2***************************/
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  width: 100%;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eee;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #0FAF97;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a
.navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #0FAF97;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #0FAF97;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li.social-nav i {
  font-size: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.right-search span {
  display: block;
  padding: 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

.search-form-nav {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.search-form-nav .form-control {
  height: 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 0px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
}
.search-form-nav .form-control:focus {
  border: 0px;
}
.search-form-nav .search-close {
  position: absolute;
  padding: 5px;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.cart-li a {
  font-weight: 700;
  color: #0FAF97 !important;
}
.cart-li a:focus, .cart-li a:hover {
  text-decoration: none;
}

/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 190px;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border-top: 2px solid #0FAF97 !important;
}
.navbar .dropdown-menu li a {
  color: #888;
  font-family: "Open Sans", sans-serif;
  padding: 8px 20px;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.navbar .dropdown-menu li a:hover {
  background: #0FAF97;
  color: #fff;
}

/*top bar*/
.top-bar {
  background-color: #f9f9f9;
}
.top-bar .info {
  margin: 0px;
}
.top-bar .info li {
  font-size: 14px;
  line-height: 40px;
  color: #555;
  font-weight: 500;
  font-size: 13px;
}
.top-bar .info li a {
  color: #555;
  margin-right: 10px;
  text-decoration: none;
}
.top-bar .cart-dropdown {
  right: 0;
  left: auto;
  min-width: 290px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.top-bar .cart-dropdown li {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  height: auto;
}
.top-bar .cart-dropdown li:first-child {
  border-bottom: 0px;
}
.top-bar .cart-dropdown li:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.top-bar .cart-dropdown li img {
  margin-right: 10px;
  display: block;
  float: left;
  width: 60px;
}
.top-bar .cart-dropdown li a {
  padding: 0px;
  font-weight: 400 !important;
}
.top-bar .cart-dropdown li .cart-desc {
  overflow: hidden;
}
.top-bar .cart-dropdown li .cart-desc h5 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 16px;
}
.top-bar .cart-dropdown li.cart-footer {
  padding: 10px 15px;
  text-align: center;
}
.top-bar .cart-dropdown li.cart-footer a {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0px 10px;
  color: #fff !important;
  display: block;
}
.top-bar .cart-dropdown li.cart-footer a.btn-first {
  background-color: #444;
}
.top-bar .cart-dropdown li.cart-footer a.btn-first:hover {
  background-color: #0FAF97;
}
.top-bar .cart-dropdown li.cart-footer a.btn-last {
  background-color: #0FAF97;
}
.top-bar .cart-dropdown li.cart-footer a.btn-last:hover {
  background-color: #444;
}
.top-bar .cart-dropdown li.cart-footer a:hover {
  color: #fff !important;
}

body .top-bar .info .cart-dropdown li {
  line-height: initial !important;
}

/******************

MULTI LEVEL DROPDOWN CSS

*********************/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
    padding-left: 20px;
  }
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  top: 11px;
  right: 9px;
  font-size: 11px;
  content: "\f3d3" !important;
  font-family: "Ionicons" !important;
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: FontAwesome;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.lang-dropdown {
  width: 100px;
  min-width: 100px;
  right: 0;
  left: auto;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.lang-dropdown > li > a {
  margin-right: 0px !important;
}

/**mega menu**/
/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .yamm-fw {
  position: static;
}

.yamm .container {
  position: relative;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}

.yamm-content {
  padding: 25px 30px;
}
.yamm-content h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.yamm-fw .dropdown-menu {
  margin-top: -2px !important;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
    display: block;
    margin-left: 15px;
  }

  .cart-dropdown {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .cart-dropdown {
    width: 100%;
  }
}
/*flex slider*/
.slider-reg {
  width: 100%;
}

.main-flex-slider {
  position: relative;
}

.main-flex-slider .flex-control-nav {
  bottom: 30px;
  margin: 0;
  height: 14px;
  z-index: 10;
}

.main-flex-slider .flex-control-paging li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  border: 2px solid #ccc;
  width: 8px;
  height: 8px;
}

.main-flex-slider .flex-control-paging li a.flex-active {
  background: transparent !important;
  border: 2px solid #0FAF97;
}

.portfolio-details .flex-control-paging li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  border: 2px solid #ccc;
  width: 8px;
  height: 8px;
}

.portfolio-details .flex-control-paging li a.flex-active {
  background: transparent !important;
  border: 2px solid #0FAF97;
}

.slider-overlay,
.slider-overlay-nobg {
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider-overlay-nobg {
  background: none;
}

.slider-text {
  text-align: center;
  text-shadow: 1px 1px 2px #222;
}

.slider-text h1 {
  color: #fff;
  margin-top: 150px;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1024px) {
  .slider-text h1 {
    margin-top: 100px;
  }
}
.slider-text p {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 20px;
}

.slide-btn {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal !important;
}

.slide-btn .btn-white {
  padding: 14px 25px;
}

/**slider testimonials**/
#content-region-2 {
  background: #555;
  padding: 80px 0;
  overflow: hidden;
}
#content-region-2 .testi-person {
  color: #fff;
}
#content-region-2 .flex-control-paging li a {
  background: transparent;
  border: 1px solid #fff;
}
#content-region-2 .flex-control-paging li a.flex-active {
  background-color: #fff;
  border-color: #fff;
}

/**********************************************footer*****************************************/
#footer {
  background-color: #000;
  padding: 60px 0;
}
#footer.shop-footer {
  background-color: #ffffff;
}
#footer.shop-footer .footer-bottom {
  border-top-color: #eee;
}
#footer.shop-footer .footer-col h3 {
  color: #000;
}
#footer.shop-footer .footer-col p {
  color: #666;
}
#footer.shop-footer .footer-col form .form-control {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  color: #333;
}
#footer.shop-footer .footer-col .social-btn li a i {
  color: #333;
  border-color: #333;
}
#footer.shop-footer .footer-col .social-btn li a i:hover {
  border-color: #0FAF97;
  color: #fff;
}
#footer.shop-footer .footer-col .post-list li a {
  border-color: #ddd;
  color: #666;
}

.footer-col h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.footer-col h3:first-letter {
  border-bottom: 5px solid #0FAF97;
}
.footer-col p {
  font-size: 14px;
  color: #b3b3b3;
}
.footer-col form .form-control {
  background-color: #111;
  border: none;
  color: #fff;
  margin-bottom: 15px;
}
.footer-col form .form-control:focus {
  background-color: #333;
  border: none;
}
.footer-col form textarea {
  background-color: #111;
  border: none;
  color: #fff;
}
.footer-col form textarea:focus {
  background-color: #333;
  border: none;
}
.footer-col .social-btn li a i {
  color: #fff;
  border: 2px solid #fff;
}
.footer-col .social-btn li a i:hover {
  background-color: #0FAF97;
  border-color: #0FAF97;
}

.post-list li a {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 14px;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #444;
}

.footer-bottom {
  border-top: 1px solid #111;
  padding-top: 30px;
}
.footer-bottom span {
  color: #999;
  font-weight: 400;
  font-size: 14px;
}

/**************footer option ********************/
#footer-option {
  background: #121214;
  border-top: 8px solid #0FAF97;
  margin-top: 50px;
  padding: 80px 0 0;
  position: relative;
  clear: both;
}
#footer-option .footer-col {
  font-size: 0.9em;
}
#footer-option .footer-col .theme-btn-color {
  height: 34px;
}
#footer-option .footer-col .form-control {
  height: 34px;
  background-color: #eeeeee;
  color: #333;
  margin-bottom: 0px;
}

.footer-col a.tweet-ac {
  display: block;
  color: #fff;
}
.footer-col a.tweet-day {
  display: block;
  color: #fff;
  font-size: 0.9em;
}
.footer-col .tweet-desc {
  margin: 5px 0;
}
.footer-col .tweet-desc i {
  margin-right: 10px;
}
.footer-col hr {
  border-color: #333;
}

.footer-copyright {
  background: #0C0C0C;
  border-top: 4px solid #111;
  margin-top: 40px;
  padding: 30px 0 30px;
}
.footer-copyright span {
  font-size: 0.9em;
}

.footer-nav {
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer-nav li a {
  color: #fff;
  font-size: 0.9em;
}
.footer-nav li a:hover {
  color: #0FAF97;
}

@media (max-width: 768px) {
  .footer-copyright .footer-logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-copyright p {
    text-align: center;
  }
  .footer-copyright .footer-nav {
    text-align: center;
  }
}
/*****************bootstrap tabs overrides*****************************/
/*tabs*/
.tabs .nav-tabs {
  border-bottom: none;
}

.tabs .nav-tabs li {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .tabs .nav-tabs li {
    width: 100%;
    float: none;
    margin-bottom: 2px;
  }

  .tabs .nav-tabs li a {
    margin-right: 0 !important;
  }

  .tabs .nav-tabs li.active a {
    border-bottom: 2px solid #dcdcdc !important;
  }
}
.tabs .nav-tabs li a {
  background: #f7f7f7;
  margin-right: 2px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-bottom: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 12px 20px;
  color: #6d6d6d;
  position: relative;
}

.tabs .nav-tabs li a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
}

.tabs .nav-tabs li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

.tabs .nav-tabs li a:hover {
  border-color: #f7f7f7;
}

.tabs .nav-tabs > li > a .fa {
  margin-right: 4px;
}

.tabs .nav-tabs li.active a {
  color: #0FAF97;
  border-left-color: #eee;
  border-right-color: #eee;
  background: #fff;
}

.tabs .nav-tabs li.active a:after {
  background: #0FAF97;
}

.tabs .nav-tabs li.active a:before {
  background: #fff;
}

.tabs .nav-tabs li.active a:hover {
  border-bottom-color: #fff;
}

.tabs .tab-content {
  padding: 15px 8px;
  border: 1px solid #eee;
  background: #fff;
}

.tab-content p {
  overflow: hidden;
}

.tabs .tab-content:before,
.tabs .tab-content:after {
  content: " ";
  display: table;
}

.tabs .tab-content:after {
  clear: both;
}

.tabs .tab-content p:last-child {
  margin-bottom: 0;
}

/*************************************buttons for bizwrap theme********************************/
.btn {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-shadow: none;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  letter-spacing: 1px;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: none;
}

/*button white for colored background*/
.btn-white {
  background-color: transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid #fff;
}
.btn-white:hover {
  background-color: #fff;
  color: #222;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn-dark:hover {
  background-color: #666;
}

.btn-big {
  padding: 14px 25px;
}

/*button default*/
.theme-btn-default {
  background-color: #fff;
  border: 1px solid #eee;
  color: #555;
}
.theme-btn-default:hover, .theme-btn-default:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

/*theme color button*/
.theme-btn-color {
  background-color: #0FAF97;
  border-color: #0FAF97;
  color: #fff;
}
.theme-btn-color:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-sweet-alert {
  margin: 5px;
}

/***btn radius***/
.btn-radius {
  padding: 12px 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

/*****************************sidebar css****************************/
.sidebar-box {
  margin-bottom: 30px;
}
.sidebar-box h4 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.sidebar-box h4:first-letter {
  border-bottom: 5px solid #0FAF97;
}
.sidebar-box .social-btn li a i {
  background-color: #000;
  color: #fff;
}

.widget-search .search-form {
  position: relative;
}
.widget-search .search-form i {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 38px;
  text-align: center;
  color: #999;
}

.cat-list {
  padding: 0px;
  list-style: none;
}
.cat-list li {
  padding: 3px 0;
}
.cat-list li a {
  color: #555;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.recent {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
.recent span img {
  float: left;
  margin-right: 10px;
  width: 105px;
  height: 70px;
}
.recent p {
  margin: 0;
  line-height: 22px;
  font-size: 15px;
  overflow: hidden;
}
.recent p a {
  color: #555;
}
.recent .recent-date {
  font-size: 10px;
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}

.post-comment-wrapper {
  padding: 50px 0;
  display: block;
  border-bottom: 1px solid #eee;
  clear: both;
}
.post-comment-wrapper h3 {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.comment-box {
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.comment-box img {
  float: left;
  margin-right: 15px;
  width: 120px;
  height: 80px;
}
.comment-box p {
  overflow: hidden;
}
.comment-box span {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  display: block;
  margin-bottom: 5px;
}

.comment-form-wrapper {
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}
.comment-form-wrapper h3 {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.comment-form-wrapper .form-control {
  margin-bottom: 15px;
}

/******************pricing************************/
.pricing-wrapper {
  border: 1px solid #eee;
}

.pricing-head {
  padding: 20px 10px;
  background-color: #000;
  text-align: center;
}
.pricing-head h3 {
  margin: 0px;
  color: #fff;
}

.pricing-rate {
  padding: 30px 10px;
  background-color: #0FAF97;
  text-align: center;
}
.pricing-rate h1 {
  color: #FFF;
  margin: 0px;
}
.pricing-rate h1 small {
  color: #E9E9E9;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.pricing-desc ul {
  padding-left: 0px;
  margin: 0;
}
.pricing-desc ul li {
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
}

.pricing-select {
  padding: 10px 20px;
  text-align: center;
}
.pricing-select a {
  display: block;
}

.price-faq-box {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.price-faq-box h3 {
  font-size: 20px;
}

/************************news and blog sec*****************************/
/*latest news*/
.news-sec {
  border: 1px solid #eee;
  color: #000;
  background-color: #fff;
}

.blog-post-title {
  margin-bottom: 5px;
  line-height: 20px;
  color: #333;
}
.blog-post-title a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: inherit;
}

.news-desc {
  padding: 10px 20px;
}
.news-desc p {
  color: #7a7a7a;
}

.news-post-cat {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  margin-bottom: 10px;
  margin-top: 10px;
}
.news-post-cat a {
  color: inherit;
}

.news-thumnail img {
  opacity: .8;
  filter: alpha(opacity=80);
}

.news-thumnail img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*blog page*/
.blog-post-section {
  border: 1px solid #eee;
  padding: 15px 10px;
}

.blog-post-img {
  margin-bottom: 30px;
}

.blog-post-header {
  text-align: center;
}
.blog-post-header h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.blog-post-header h3 a {
  color: #000;
}

.blog-post-info {
  text-align: center;
  margin-bottom: 30px;
}
.blog-post-info span {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}
.blog-post-info span a {
  color: #666;
}

.blog-post-detail {
  margin-bottom: 30px;
}
.blog-post-detail a {
  color: #0FAF97;
}

.blog-post-more {
  margin-bottom: 30px;
}

.mas-boxes-inner {
  margin-bottom: 30px;
}

.mas-link {
  color: #0FAF97;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: .9em;
}
.mas-link i {
  margin-left: 7px;
  vertical-align: middle;
  display: inline-block;
}
.mas-link:hover {
  color: #999;
}

/*==========================portfolio ==========================*/
.portfolio-sec {
  border: 1px solid #eee;
  color: #000;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.portfolio-thumnail img {
  width: 100%;
  height: auto;
}

.portfolio-desc {
  padding: 10px 0;
}

h4.portfolio-post-title {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.portfolio-post-cat {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}

.portfolio-desc .theme-btn-default {
  margin-bottom: -50px;
}

.flexslider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.portfolio-single-desc h3 {
  color: #000;
  font-size: 23px;
  font-weight: 800;
}

/*mix it up filter*/
.portfolio-filters {
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}
.portfolio-filters li {
  display: inline-block;
  border: 1px solid #eee;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.portfolio-filters li.active {
  background-color: #0FAF97;
  color: #fff;
  border-color: #0FAF97;
}

#grid .mix {
  display: none;
  opacity: 0;
}

/* 
    SHOP STYLE START HERE
*/
.product_item {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-thumb {
  overflow: hidden;
  position: relative;
}
.product-thumb img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.product-thumb .product-thumb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.product-thumb .product-thumb-overlay p {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: -200%;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0px;
}
.product-thumb .product-thumb-overlay p a {
  display: block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #0FAF97;
  text-align: left;
  font-size: 12px;
  margin-bottom: 1px;
  position: relative;
  padding-right: 5px;
  text-transform: capitalize;
}
.product-thumb .product-thumb-overlay p a:hover {
  background-color: #333;
}
.product-thumb .product-thumb-overlay p a i {
  display: inlune-block;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
}
.product-thumb:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.product-thumb:hover p {
  right: 0;
}

.product-desc {
  padding: 15px 15px;
  padding-bottom: 0px;
  border: 1px solid #eee;
  border-top: 0px;
  text-align: center;
}
.product-desc h3 {
  font-size: 18px;
  text-transform: capitalize;
}
.product-desc h3 a {
  color: #333;
}
.product-desc h3 a:hover {
  color: #0FAF97;
}
.product-desc p {
  margin: 0px;
}
.product-desc a.btn {
  position: relative;
  bottom: -20px;
}

.product-detail h2 {
  color: #333;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400;
}
.product-detail .price {
  font-size: 20px;
  color: #0FAF97;
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
}
.product-detail form.cart div.quantity {
  display: inline-block;
  vertical-align: top;
}
.product-detail .quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
.product-detail form.cart {
  margin-top: 30px;
}
.product-detail form.cart div.quantity input.qty {
  height: 60px;
  width: 80px;
  font-size: 1em;
  padding-left: 2em;
}
.product-detail form.cart .button {
  text-transform: uppercase;
  height: 60px;
  vertical-align: top;
  margin-left: -4px;
  padding-left: 5em;
  padding-right: 5em;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.product-detail form.cart .button:hover {
  background-color: #0FAF97;
  border-color: #0FAF97;
}

.cart-socials ul li {
  padding: 0px;
}
.cart-socials ul li:first-child a {
  border-right: 1px solid #eee;
}
.cart-socials ul li a {
  font-size: 25px;
  color: #999;
  padding: 1px 8px;
  display: block;
}
.cart-socials ul li a:hover {
  color: #0FAF97;
}

.item-info-tabs {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.item-info-tabs > li {
  padding: 0px 20px;
}
.item-info-tabs > li > a {
  padding: 10px 0px;
  color: #aaa;
  display: block;
  border-bottom: 1px solid transparent;
}
.item-info-tabs > li > a:hover {
  color: #0FAF97;
}
.item-info-tabs > li.active a {
  color: #0FAF97;
}

.product-extra-info {
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.product-extra-info li {
  color: #aaa;
  padding: 10px 0;
}
.product-extra-info > li > a {
  color: #aaa;
}
.product-extra-info > li > a:hover {
  color: #0FAF97;
}
.product-extra-info span {
  color: #000;
  margin-right: 5px;
  display: inline-block;
  width: 70px;
}

.product-information .tab-content {
  padding-top: 30px;
}

.reviews li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.reviews li:last-child {
  border-bottom: 0px;
}
.reviews .avtar {
  display: block;
  float: left;
  margin-right: 20px;
}
.reviews .review-content {
  overflow: hidden;
}
.reviews .review-content p {
  margin-top: 10px;
}
.reviews h4 {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.reviews .time-review {
  color: #0FAF97;
  display: block;
}
.reviews .rating {
  float: right;
  color: #dc9814;
}

.shopping-cart-table.table {
  border-bottom-width: 0;
  margin: 0;
}
.shopping-cart-table.table .td-qty {
  min-width: 48px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  width: 100px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-images {
  width: 131px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-images img {
  display: block;
  margin: 0 auto;
}
.shopping-cart-table.table .product-remove {
  font-size: 25px;
  color: #999;
}
.shopping-cart-table.table .product-remove:hover {
  color: #0FAF97;
}
.shopping-cart-table.table .td-name {
  text-align: left;
  vertical-align: middle;
}
.shopping-cart-table.table .td-name a {
  color: #999;
  font-size: 13px;
}
.shopping-cart-table.table .td-name a:hover {
  color: #0FAF97;
}
.shopping-cart-table.table .td-qty input {
  margin: 0;
  width: 40px;
  text-align: center;
}
.shopping-cart-table.table .td-edit {
  padding-left: 20px;
  padding-right: 20px;
  width: 92px;
  vertical-align: middle;
}
.shopping-cart-table.table a.edit {
  color: #707070;
  font-size: 12px;
  text-decoration: none;
}
.shopping-cart-table.table a.edit:hover {
  color: #0FAF97;
}
.shopping-cart-table.table .td-price {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 112px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-total {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 102px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-remove {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 60px;
  vertical-align: middle;
}

.coupon-code {
  position: relative;
}
.coupon-code label {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 12px;
  line-height: 51px;
  color: #282828;
  height: 50px;
}
.coupon-code .input-text {
  font-size: 12px;
  width: 100%;
  height: 50px;
  padding: 14px 91px 15px 120px;
}
.coupon-code .button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 7px 16px;
}

@media (max-width: 567px) {
  .coupon-code label {
    display: none;
  }
  .coupon-code .input-text {
    padding-left: 20px;
  }
}
.cart-totals {
  background: #fafafa;
  border: 1px solid #e5e5e5;
}
.cart-totals > li {
  padding: 19px 21px;
  color: #000;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
}
.cart-totals > li:first-child {
  border-top: 0 none;
}

.shipping-method li {
  padding-bottom: 5px;
}
.shipping-method label {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  width: 85%;
  display: inline-block;
}
.shipping-method .amount {
  display: inline-block;
  float: right;
}

.calculate-shipping a {
  display: block;
  color: #000;
}
.calculate-shipping a i {
  float: right;
}

.total-values {
  color: #0FAF97 !important;
  font-size: 20px;
}

.checkout-top p {
  font-weight: 300;
  font-size: 18px;
  color: #aaa;
}
.checkout-top p a {
  color: #0FAF97;
  display: inline-block;
  margin-left: 4px;
}
.checkout-top p a i {
  display: inline-block;
  margin-left: 4px;
}
.checkout-top p a:hover {
  color: #aaa;
}
.checkout-top .form-control {
  margin-bottom: 10px;
}

label.error {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: red;
  float: none;
}
label.error:before, label.error:after {
  content: "";
  clear: both;
  display: table;
}

.create-account {
  color: #aaa;
  font-size: 13px;
}
.create-account:hover {
  color: #0FAF97;
}

.checkout-form .shipping-method label {
  width: 75%;
}

.payment-methods {
  border: 1px solid #eee;
}
.payment-methods li {
  border-top: 1px solid #eee;
  padding: 20px 15px;
}
.payment-methods li:first-child {
  border-top: 0px;
}
.payment-methods li label {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}
.payment-methods li label img {
  margin-left: 10px;
}
.payment-methods li span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

/*all shop template css here*/
h4.heading-mini {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}

h3.heading-sec {
  font-weight: 700;
  display: block;
  margin-bottom: 40px;
  color: #000;
  font-size: 29px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

h3.subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #b3b3b3;
  font-style: italic;
}

.header-main {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

/*-----------------------------------services and features------------------------------------------*/
.services-box {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
}
.services-box i {
  color: #0FAF97;
  font-size: 44px;
  margin-bottom: 15px;
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #0FAF97;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.services-box h1 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #0FAF97;
  font-weight: 400;
  text-transform: uppercase;
}
.services-box:hover i {
  border-color: #0FAF97;
  background-color: #0FAF97;
  color: #fff;
}

/*services option 2*/
.services-icon i {
  color: #fff;
  width: 80px;
  line-height: 80px;
  height: 80px;
  font-size: 34px;
  text-align: center;
  background-color: #0FAF97;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}

.services-text h4 {
  color: #000;
  margin-bottom: 15px;
}

/***services box new v1.4****/
.services-boxv2 {
  margin: 0;
}
.services-boxv2 .servicev2-icon {
  float: left;
  width: 50px;
}
.services-boxv2 .servicev2-icon i {
  color: #0FAF97;
  font-size: 30px;
}
.services-boxv2 .servicev2-text {
  overflow: hidden;
}
.services-boxv2 .servicev2-text h4 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

/*features*/
.features h3 {
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features p {
  color: #777;
}

/**************************************testimonials******************************************/
.testimonials p.testi-text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

/*****************************social buttons************************/
.social-btn li a {
  display: block;
}
.social-btn li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 5px;
  display: block;
}

/****************breadcrumbs*********************************************/
.page-tree-bg,
.page-tree-bg2 {
  background-image: url("../img/bread-bg.png");
  background-position: center 688px;
  background-color: #0FAF97;
  padding: 40px 0;
  width: 100%;
  position: relative;
  /*background-size: cover;*/
  background-attachment: fixed;
  margin-bottom: 0px;
}

.page-tree-bg2 {
  background-image: url("http://bootstraplovers.com/templates/bizwrap-v1.8/assets/assets/img/bread-bg.png");
}

h3.page-tree-text {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #333;
  color: #fff;
  margin: 0px;
}

/***********************bootstrap pagination override***************************/
.pagination li.active a, .pagination li.active a:hover {
  background-color: #0FAF97;
  border-color: #0FAF97;
}
.pagination li a {
  color: #999;
}
.pagination li a:hover, .pagination li a:focus {
  color: #fff;
  background-color: #0FAF97;
  border-color: #0FAF97;
}
.pagination li a:hover.current, .pagination li a:focus.current {
  color: #fff;
  background-color: #eee;
  border-color: #ccc;
  cursor: default;
}
.pagination li a.current {
  color: #fff;
  background-color: #eee;
  cursor: default;
}

/**************inner pages css**************************/
/*about page*/
.icon-list li {
  padding: 5px 0;
}

.icon-list li i {
  color: #0FAF97;
  margin-right: 10px;
}

/*team person*/
.person-section {
  border: 1px solid #eee;
}
.person-section img {
  display: block;
  margin: 0 auto;
}

.person-desc {
  padding: 10px 10px;
}

.person-desc h3 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 2px;
}

.person-desc span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: #7a7a7a;
  margin-left: 10px;
}

.person-desc p {
  text-align: left;
}

.team.social-btn li a i {
  color: #7a7a7a;
  border: 2px solid #7a7a7a;
}

.hire-sec .services-icon i {
  background-color: #0FAF97;
  color: #fff;
  margin-bottom: 20px;
}

.hire-sec .services-text .heading-mini {
  margin-bottom: 10px;
  color: #333;
}

/*process*/
.process-box {
  text-align: center;
  padding: 30px 0;
}

.process-box h2 {
  font-size: 25px;
}

.process-box i {
  font-size: 54px;
  color: #0FAF97;
  margin-bottom: 20px;
}

/*progress bar*/
h3.heading-progress {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
}

.progress {
  height: 15px;
  line-height: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #E9E9E9;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.progress-bar {
  line-height: 10px;
  background: #0FAF97;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

/*************************login or signup form********************/
.my-login-form {
  padding: 30px 20px;
  border: 1px solid #eee;
}

.form-btm-link a {
  color: #0FAF97;
}

.form-btm-link a:hover {
  text-decoration: underline;
}

.form-btm-link span {
  margin: 0px 20px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 23px;
}

/*error page*/
.error-digit {
  font-size: 50px;
}

.error-text h3 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

/*contact*/
.my-contact-form form input {
  background-color: #f7f7f7;
}

.my-contact-form textarea {
  background-color: #f7f7f7;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

/***********************************************************************************
*************************   Responsive css start here    ***************************
***********************************************************************************/
@media (max-width: 768px) {
  .slider-text h1 {
    margin-top: 70px;
    font-size: 2em;
  }

  .slider-text p {
    display: none;
  }

  .main-flex-slider .flex-control-nav {
    bottom: 10px;
    margin: 0;
    height: 14px;
    z-index: 10;
  }
}
@media (max-width: 433px) {
  .slider-text h1 {
    margin-top: 30px;
    font-size: 16px;
  }
}
/************version v1.1 css here********************/
.home-slider {
  width: 100%;
}

.carousel {
  position: relative;
}

.home-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.home-slider .carousel-inner .item {
  overflow: hidden;
  width: 100%;
  height: 550px;
  background-color: #333 !important;
  padding: 100px 0 0;
}

#item-1 {
  background-image: url("../img/img-5.jpg");
  width: 100%;
}

#item-2 {
  background-image: url("../img/img-6.jpg");
  width: 100%;
}

#item-3 {
  background-image: url("../img/img-4.jpg");
  width: 100%;
}

a.carousel-control {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
  background-image: none !important;
  font-size: 52px;
  font-weight: 300;
  cursor: pointer;
}

a.carousel-control i {
  color: #fff;
}

.slider-wrapper {
  margin-top: 100px;
}

.slider-wrapper h1 {
  color: #fff;
  font-weight: 300;
}

.slider-wrapper p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.slider-wrapper-2 {
  margin-top: 60px;
}

.slider-wrapper-2 h1 {
  color: #fff;
  font-weight: 300;
}

.slider-2img {
  margin-top: 60px;
}

.slider-wrapper-2 p {
  color: #fff;
}

.slider-video-wrapper {
  margin-top: 60px;
}

.slider-wrapper-3 {
  margin-top: 60px;
}

.slider-wrapper-3 h1 {
  color: #fff;
  font-weight: 300;
}

.slider-wrapper-3 p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

/**slider carousel delay**/
.delay-1 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: none;
  animation-delay: 300ms;
  -o-animation-delay: none;
}

.delay-2 {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: none;
  animation-delay: 600ms;
  -o-animation-delay: none;
}

.delay-3 {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: none;
  animation-delay: 900ms;
  -o-animation-delay: none;
}

.delay-4 {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: none;
  animation-delay: 1200ms;
  -o-animation-delay: none;
}

.delay-5 {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: none;
  animation-delay: 1500ms;
  -o-animation-delay: none;
}

.delay-6 {
  -webkit-animation-delay: 1800ms;
  -moz-animation-delay: none;
  animation-delay: 1800ms;
  -o-animation-delay: none;
}

@media (max-width: 767px) {
  .slider-wrapper {
    text-align: center;
  }

  .slider-wrapper-2 {
    text-align: center;
    margin-top: 50px;
  }

  .slider-wrapper-3 {
    text-align: center;
    margin-top: 50px;
  }

  .carousel-indicators {
    bottom: 20px;
  }
}
@media (max-width: 360px) {
  a.carousel-control {
    display: none;
  }

  .carousel-inner .item {
    padding: 20px 0 0;
  }

  .slider-wrapper, .slider-wrapper-2, .slider-wrapper-3 {
    margin-top: 20px;
  }

  .carousel-indicators {
    bottom: 0px;
  }
}
/******Version v1.2 css here********/
.direc-hover-box {
  overflow: hidden;
}
.direc-hover-box img {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.direc-hover-box a .direc-overlay {
  position: absolute;
  background: rgba(75, 75, 75, 0.7);
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.direc-hover-box a .direc-overlay span {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/*.direc-hover-box:hover .direc-overlay{
    display: block;
}*/
@media (min-width: 1200px) {
  .boxed-wrapper {
    margin: 0 auto;
    width: 1170px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    border-top: 4px solid #0FAF97;
  }

  body.boxed {
    background: url("../img/bread-bg.png") repeat;
  }
}
.boxed-wrapper .navbar-default.sticky {
  left: 0;
  top: 0;
  width: 100%;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/**newsletter section**/
.newsletter-section {
  text-align: center;
  padding: 60px 0;
  background-color: #f5f5f5;
}
.newsletter-section h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  letter-spacing: 2px;
}
.newsletter-section p {
  margin-bottom: 30px;
}
.newsletter-section .form-control {
  margin-bottom: 15px;
}
.newsletter-section .error {
  color: #a84545;
  background-color: #ffb2b2;
}
.newsletter-section .success {
  color: green;
  border-color: green;
}

.cta-bg {
  padding: 50px 0;
  background-color: #0FAF97;
}

.cta-bg h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: 768px) {
  .cta-bg a {
    margin-left: 100px;
  }
}
.radio-cehckboxed li {
  padding-bottom: 10px;
}
.radio-cehckboxed li label {
  margin-left: 10px;
  vertical-align: middle;
}
